force-app/main/default/flows/APPLICATION_AutoLaunch_ScheduleDaily7am_UK_PRE_TRAINING_EMAIL_SS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_10D</name>
        <label>Send 10D pre-training email</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000qztpMAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_14D</name>
        <label>Send 14D pre-training email</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000qzqbMAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_18D</name>
        <label>Send 18D pre-training email</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000qzozMAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_21D</name>
        <label>Send 21D pre-training email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000qzllMAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_2D</name>
        <label>Send 2D pre-training email</label>
        <locationX>1370</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000qzvRMAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_7D</name>
        <label>Send 7D pre-training email</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000qzsDMAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check if a pre-training email needs to be sent today</description>
        <name>Check_date</name>
        <label>Check date</label>
        <locationX>842</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D21_Bf_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D21_Bef_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_21D</targetReference>
            </connector>
            <label>21 Days before Training</label>
        </rules>
        <rules>
            <name>D18_Bf_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D18_Bef_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_18D</targetReference>
            </connector>
            <label>18 Days before Training</label>
        </rules>
        <rules>
            <name>D14_Bf_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D14_Bef_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_14D</targetReference>
            </connector>
            <label>14 Days before Training</label>
        </rules>
        <rules>
            <name>D10_Bf_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D10_Bef_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_10D</targetReference>
            </connector>
            <label>10 Days before Training</label>
        </rules>
        <rules>
            <name>D7_Bf_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D7_Bef_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_7D</targetReference>
            </connector>
            <label>7 Days before Training</label>
        </rules>
        <rules>
            <name>D2_Bf_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D2_Bef_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_2D</targetReference>
            </connector>
            <label>2 Days before Training</label>
        </rules>
    </decisions>
    <description>This is a scheduled flow to send Pre-Training emails to candidates who have been hired and waiting for the training</description>
    <environments>Default</environments>
    <formulas>
        <description>10 Days before training</description>
        <name>D10_Bef_Training</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Initial_Training_Date__c}-10</expression>
    </formulas>
    <formulas>
        <description>14 Days before training</description>
        <name>D14_Bef_Training</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Initial_Training_Date__c}-14</expression>
    </formulas>
    <formulas>
        <description>18 Days before training</description>
        <name>D18_Bef_Training</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Initial_Training_Date__c}-18</expression>
    </formulas>
    <formulas>
        <description>21 Days before training</description>
        <name>D21_Bef_Training</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Initial_Training_Date__c}-21</expression>
    </formulas>
    <formulas>
        <description>2 Days before training</description>
        <name>D2_Bef_Training</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Initial_Training_Date__c}-2</expression>
    </formulas>
    <formulas>
        <description>7 Days before training</description>
        <name>D7_Bef_Training</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Initial_Training_Date__c}-7</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>APPLICATION AutoLaunch ScheduleDaily7am UK PRE-TRAINING EMAIL (SS) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APPLICATION AutoLaunch ScheduleDaily7am UK PRE-TRAINING EMAIL (SS)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Training_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Position_name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Study Skills</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate UK</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-13</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
