force-app/main/default/flows/BOOKING_AutoLaunch_RunAfter_CreatedAndUpdated_MAIN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>NY - Email notifications for last-minute booking changes</description>
        <name>Send_email_to_US_support_inbox</name>
        <label>Send email to US support inbox</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo0000014KdtMAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>wizards@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Action Required: Last minute booking change requested</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <stringValue>schools@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send email to Connect Presenter advising to prepare Content Slides</description>
        <name>Send_Presenter_slidePrep_email</name>
        <label>Send Presenter slidePrep email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Booking_Content_Output_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000LyaCMAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>oliver@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>CONNECT: Time to prepare for your next workshop</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Presenter_email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Send Email notifications for last-minute SS booking changes (NY only)</description>
        <name>Check_Product_Line</name>
        <label>Check Product Line</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Input_available_and_Job_allocated</targetReference>
            </connector>
            <label>Connect</label>
        </rules>
        <rules>
            <name>Update_Contact_Sub_Start_End_Date</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cura_Start_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact_Name__r.Cura_Subscription_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cura_End_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact_Name__r.Cura_Subscription_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Cura_Start_End_Date</targetReference>
            </connector>
            <label>Cura</label>
        </rules>
        <rules>
            <name>Study_Skills_NY_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Study Skills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberofDaysbeforeBookingdate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_US_support_inbox</targetReference>
            </connector>
            <label>Study Skills US</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if &apos;Content Input Status=Confirmed&apos; AND &apos;Job has been allocated&apos;.</description>
        <name>Content_Input_available_and_Job_allocated</name>
        <label>UK - Content Input available and Job allocated</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Input_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Presenter_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Presenter_slidePrep_email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Latest change - Email notifications for last-minute booking changes (NY only)</description>
    <environments>Default</environments>
    <formulas>
        <name>CuraEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Cura_End_Time__c}</expression>
    </formulas>
    <formulas>
        <name>CuraStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Cura_Start_Time__c}</expression>
    </formulas>
    <formulas>
        <name>NumberofDaysbeforeBookingdate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Date__c} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>BOOKING AutoLaunch RunAfter CreatedAndUpdated MAIN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOOKING AutoLaunch RunAfter CreatedAndUpdated MAIN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking_Content_Output_Status</name>
        <label>Update Booking Content Output Status</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Connect_Output_Status__c</field>
            <value>
                <stringValue>Shared with Presenter</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Cura_Start_End_Date</name>
        <label>Update Contact Cura Start-End Date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Cura_Subscription_End_Date__c</field>
            <value>
                <elementReference>$Record.Cura_End_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cura_Subscription_Start_Date__c</field>
            <value>
                <elementReference>$Record.Cura_Start_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact_Name__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Product_Line</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
