force-app/main/default/flows/Case_Tech_Request_BU_UpdateOwner_RecordSharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Priority</name>
        <label>Assign Priority</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 1 - Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Pri_ProductLine_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority2</name>
        <label>Assign Priority</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 2 - Urgent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Pri_ProductLine_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority3</name>
        <label>Assign Priority</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 3 - High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Pri_ProductLine_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority4</name>
        <label>Assign Priority</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level 4 - Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Pri_ProductLine_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Line</name>
        <label>Assign Product Line</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2B Cura</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Line2</name>
        <label>Assign Product Line</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C Study Skills (Coaching)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Line3</name>
        <label>Assign Product Line</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2B Connect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Line4</name>
        <label>Assign Product Line</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProductLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2B Study Skills</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Group: Elevate &amp; Cura Office Staff</description>
        <name>Share_Case_with_Internal_User</name>
        <label>Share Case with Internal User</label>
        <locationX>226</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>CaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseShare.UserOrGroupId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00G6F000005Wewl</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Share</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Priority</name>
        <label>Case Priority?</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Pri_ProductLine_BU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical - Application is down for ALL USERS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Priority</targetReference>
            </connector>
            <label>Level 1 - Critical</label>
        </rules>
        <rules>
            <name>Level_2_Urgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High - Serious degradation of application performance or functionality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Priority2</targetReference>
            </connector>
            <label>Level 2 - Urgent</label>
        </rules>
        <rules>
            <name>Level_3_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Normal - Application issue that has moderate impact to the business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Priority3</targetReference>
            </connector>
            <label>Level 3  - High</label>
        </rules>
        <rules>
            <name>Level_4_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low - Issue or Question with limited business impact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Priority4</targetReference>
            </connector>
            <label>Level 4 - Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_By_Admin</name>
        <label>Changed By Admin?</label>
        <locationX>226</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdminChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>For Case Share</description>
        <name>Update_Owner</name>
        <label>Update Owner?</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Share_Case_with_Internal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Case_with_Internal_User</targetReference>
            </connector>
            <label>Other Owner</label>
        </rules>
        <rules>
            <name>SFDC_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>SFDC Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on User Role</description>
        <name>Update_Product_Line</name>
        <label>Update Product Line?</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Case_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Cura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cura HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Line</targetReference>
            </connector>
            <label>Cura</label>
        </rules>
        <rules>
            <name>Coaching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Line2</targetReference>
            </connector>
            <label>Coaching</label>
        </rules>
        <rules>
            <name>Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Line3</targetReference>
            </connector>
            <label>Connect</label>
        </rules>
        <rules>
            <name>B2B_Study_Skills</name>
            <conditionLogic>NOT(1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cura HQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coaching</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Line4</targetReference>
            </connector>
            <label>B2B Study Skills</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdminChanged</name>
        <dataType>Number</dataType>
        <expression>IF({!$Profile.Name} = &apos;System Administrator&apos;, 1,0 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case: Salesforce Request Case UpdateOwner-RecordSharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Tech Request BU-UpdateOwner-RecordSharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Share</name>
        <label>Create Case Share</label>
        <locationX>226</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Changed_By_Admin</targetReference>
        </connector>
        <inputReference>CaseShare</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Share_Case_with_Internal_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G8s00000429XxEAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Pri_ProductLine_BU</name>
        <label>Update Case Prio-ProdLine-BU</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>ProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128s000002RfU9AAK</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>ProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
