force-app/main/default/flows/CASE_AutoLaunch_RunAfter_CreatedOnly_SEND_EMAIL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify: Andre &amp; Chad</description>
        <name>SA_Send_email_notification</name>
        <label>SA: Send email notification</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0038r00000QFlLXAA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X8r000001ePdREAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>wizards@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>SA_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>When a new case (type: School) is created, send an email notification to:
client services shared mailbox: schools@
SBU General Manager role&apos;s email address</description>
        <name>USA_Send_email_notification</name>
        <label>USA: Send email notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0038r00000QFlLXAA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XMo000000XHzlMAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>wizards@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <stringValue>schools@elevateeducation.com, rob@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>FOR NEW CASE</description>
        <name>SBU</name>
        <label>SBU?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Elevate_USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126F000001WxV7QAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USA_Send_email_notification</targetReference>
            </connector>
            <label>USA (School)</label>
        </rules>
        <rules>
            <name>Elevate_SA</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126F000001WxV7QAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012I80000004I2RIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Send_email_notification</targetReference>
            </connector>
            <label>SA (School &amp; HR)</label>
        </rules>
    </decisions>
    <description>When a new case (type: School) is created, send an email notification to:
client services shared mailbox: schools@
SBU General Manager role&apos;s email address</description>
    <environments>Default</environments>
    <interviewLabel>CASE AutoLaunch RunAfter CreatedOnly SEND EMAIL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE AutoLaunch RunAfter CreatedOnly SEND EMAIL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SBU</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate USA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate South Africa</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SA_Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>kathlyn@elevateeducation.com, kpalubon096@gmail.com</stringValue>
        </value>
    </variables>
</Flow>
