force-app/main/default/flows/Connect_Debrief_emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Connect_debrief_email</name>
        <label>Send Connect debrief email</label>
        <locationX>792</locationX>
        <locationY>48</locationY>
        <actionName>Booking__c.Send_first_feedback_email_Connect</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_feedback_email_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Booking__c.Send_first_feedback_email_Connect</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Connect_Debrief_follow_up_email</name>
        <label>Send Connect Debrief follow-up email</label>
        <locationX>792</locationX>
        <locationY>311</locationY>
        <actionName>Booking__c.Send_follow_up_feedback_email_Connect</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_feedback_followup_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Booking__c.Send_follow_up_feedback_email_Connect</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Debrief_date</name>
        <label>Check date</label>
        <locationX>448</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Debrief_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Debrief_email_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Connect_debrief_email</targetReference>
            </connector>
            <label>Send Debrief email</label>
        </rules>
        <rules>
            <name>Send_Debrief_follow_up_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Debrief_follow_up_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Feedback_Follow_Up_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Connect_Debrief_follow_up_email</targetReference>
            </connector>
            <label>Send Debrief follow-up email</label>
        </rules>
    </decisions>
    <description>Flow used to send debrief emails to subject teachers one day after the booking and follow up emails sent one week later in case of no response.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsBookingDateLastWeek</name>
        <dataType>Date</dataType>
        <expression>TODAY()+(-7)</expression>
    </formulas>
    <formulas>
        <name>IsBookingDateYesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+(-1)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Connect Debrief emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOOKING AutoLaunch ScheduleDaily7am CONNECT DEBRIEFS (AU)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_feedback_email_status</name>
        <label>Update feedback email status</label>
        <locationX>946</locationX>
        <locationY>45</locationY>
        <inputAssignments>
            <field>Feedback_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_feedback_followup_status</name>
        <label>Update feedback followup status</label>
        <locationX>950</locationX>
        <locationY>318</locationY>
        <inputAssignments>
            <field>Feedback_Follow_Up_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Debrief_date</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Critical_Incident__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Feedback_Collected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Workshop</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-05</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
