force-app/main/default/flows/CreateCalendlyEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to support, contact not found in Salesforce.</description>
        <name>Contact_not_Found</name>
        <label>Contact not Found</label>
        <locationX>1546</locationX>
        <locationY>1871</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Email {!$Record.Calendly__InviteeEmail__c} is not found on a Contact record in Salesforce.  A different email has likely been used on the Application form to the Calendly booking form.   The Application will have a blank &apos;Candidate Contact&apos; and will not be in the correct stage.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>wizards@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error: Calendly Create: Contact not found for email</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send email to support, contact not found in Salesforce.</description>
        <name>Contact_not_Found_0</name>
        <label>Contact not Found</label>
        <locationX>6375</locationX>
        <locationY>2375</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Email {!$Record.Calendly__InviteeEmail__c} is not found on a Contact record in Salesforce.  A different email has likely been used on the Application form to the Calendly booking form.   The Application will have a blank &apos;Candidate Contact&apos; and will not be in the correct stage.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>wizards@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error: Calendly Create: Contact not found for email</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Lead Last Name to NotProvided</description>
        <name>Set_Default_Last_Name</name>
        <label>Set Default Last Name</label>
        <locationX>732</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_or_Post_webinar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Last Name if it exists.</description>
        <name>Set_Invitee_Last_Name</name>
        <label>Set Invitee Last Name</label>
        <locationX>644</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitee_Last_Name_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account</name>
        <label>Account?</label>
        <locationX>1961</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Find_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Account</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Calendly invite relate to B2B or B2C part of the business?</description>
        <name>B2C_or_B2B</name>
        <label>B2C or B2B?</label>
        <locationX>5203</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <targetReference>Match_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Lead</targetReference>
            </connector>
            <label>B2C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign</name>
        <label>Campaign?</label>
        <locationX>3605</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Campaign</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case</name>
        <label>Case?</label>
        <locationX>2976</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Find_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Case</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>4003</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Find_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contact</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Matched</name>
        <label>Contact Matched?</label>
        <locationX>6012</locationX>
        <locationY>2267</locationY>
        <defaultConnector>
            <targetReference>Contact_not_Found_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found with Invitee Email</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Business_Process</targetReference>
            </connector>
            <label>Invitee Email matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract</name>
        <label>Contract?</label>
        <locationX>3274</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Find_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contract</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>The main goal of this flow is to create an Event ( a type of Activity ).  But we must create that Event within an existing record.

If all previous attempts at finding a record failed ( via SFID, or Invitee Email ): then we need to create a record.

We will always create a Lead when we couldn&apos;t find a record.</description>
        <name>Do_we_have_a_Record</name>
        <label>Do we have a Record?</label>
        <locationX>1227</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>No_B2C_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coaching Information Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name</targetReference>
            </connector>
            <label>No B2C Lead for Coaching Info Call</label>
        </rules>
        <rules>
            <name>B2C_Check_In_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coaching Program Check-In Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event</targetReference>
            </connector>
            <label>B2C Check In Call</label>
        </rules>
        <rules>
            <name>No_B2B_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_not_Found</targetReference>
            </connector>
            <label>No B2B Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>While looking up the records, if we found one, we would have set the OwnerId as the record owner.

In the last step, we attempted to overwrite the OwnerId with the id of the user whose email matches the publisher.

So at this point, we hope to have an owner defined.  If we don&apos;t we&apos;ll have to look up the system admin.</description>
        <name>Event_Owner</name>
        <label>Event Owner?</label>
        <locationX>1227</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Find_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Owner not Present</defaultConnectorLabel>
        <rules>
            <name>Event_Owner_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>Event Owner Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Last Name exist?</description>
        <name>Invitee_Last_Name_Exists</name>
        <label>Invitee Last Name Exists</label>
        <locationX>644</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Last Name</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_or_Post_webinar</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invitee_created</name>
        <label>Invitee created?</label>
        <locationX>6987</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invitee_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFID_Provided</targetReference>
            </connector>
            <label>Invitee created</label>
        </rules>
    </decisions>
    <decisions>
        <description>We cannot update a converted lead.  If the lead is converted, we need to try and find the contact it was converted to.</description>
        <name>Is_it_Converted</name>
        <label>Is it Converted?</label>
        <locationX>3867</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Active</defaultConnectorLabel>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadConvertedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Converted_Contact</targetReference>
            </connector>
            <label>Lead Converted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the calendly event type a round robin event? If so, there is an extra question of asking for phone number and that changes the number of questions in Calendly form. So &apos;Create Lead&apos; is different too.</description>
        <name>Is_Round_Robin</name>
        <label>Is Round Robin?</label>
        <locationX>182</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Create_New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leah@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>phoebe.marcheff@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_New_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead</name>
        <label>Lead?</label>
        <locationX>4535</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>B2C_or_B2B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Lead</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>SFID matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Matched</name>
        <label>Lead Matched?</label>
        <locationX>4395</locationX>
        <locationY>2267</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>Invitee Email matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity</name>
        <label>Opportunity?</label>
        <locationX>2695</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Find_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Opportunity</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_or_Post_webinar</name>
        <label>Pre or Post webinar</label>
        <locationX>644</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Which_b2c_SBU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_webinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__UtmSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resources+Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__UtmCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PostWebinar_CampaignId</targetReference>
            </connector>
            <label>Post-webinar</label>
        </rules>
        <rules>
            <name>Pre_webinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__UtmCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__UtmSource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resources+Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PreWebinar_CampaignId</targetReference>
            </connector>
            <label>Pre-webinar</label>
        </rules>
        <rules>
            <name>Mid_funnel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__UtmCampaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-Funnel Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Mid_funnel_CampaignId</targetReference>
            </connector>
            <label>Mid funnel</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we cannot find the system admin profile, we cannot find the system admin.  And if we&apos;re at this point in the logic, we have no other owner.

So there&apos;s no path forward if the profile is not found.</description>
        <name>Profile_Found</name>
        <label>Profile Found?</label>
        <locationX>1447</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>System Admin Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>What business process does this Calendly event relate to?</description>
        <name>Related_Business_Process</name>
        <label>Related Business Process</label>
        <locationX>5649</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruitment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Position</targetReference>
            </connector>
            <label>Recruitment</label>
        </rules>
        <rules>
            <name>Onboarding_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pre-training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Resource</targetReference>
            </connector>
            <label>Onboarding Training</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Provided</name>
        <label>SFID Provided?</label>
        <locationX>5224</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>B2C_or_B2B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SFID</defaultConnectorLabel>
        <rules>
            <name>SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__ObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account</targetReference>
            </connector>
            <label>SFID</label>
        </rules>
    </decisions>
    <decisions>
        <description>Screening call of Interview?</description>
        <name>Type_of_Event</name>
        <label>Type of Event</label>
        <locationX>1227</locationX>
        <locationY>3371</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>B2C_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Coaching</stringValue>
                </rightValue>
            </conditions>
            <label>B2C Lead</label>
        </rules>
        <rules>
            <name>Screening_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Elevate Presenter Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Call_Scheduled</targetReference>
            </connector>
            <label>SS Screening Call</label>
        </rules>
        <rules>
            <name>Interview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Elevate Presenter Interview - Zoom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Elevate Presenter Interview - In Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_to_Interview_Scheduled</targetReference>
            </connector>
            <label>SS Interview</label>
        </rules>
        <rules>
            <name>Connect_Screening_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Connect Presenter Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connect_Application_to_Call_Scheduled</targetReference>
            </connector>
            <label>Connect Screening Call</label>
        </rules>
        <rules>
            <name>Connect_Interview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect Presenter Interview - Zoom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect Presenter Interview - In Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connect_Application_to_Interview_Scheduled</targetReference>
            </connector>
            <label>Connect Interview</label>
        </rules>
        <rules>
            <name>Coach_Screening_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Elevate Coach Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coach_Application_to_Call_Scheduled</targetReference>
            </connector>
            <label>Coach Screening Call</label>
        </rules>
        <rules>
            <name>Coach_Interview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Elevate Coach Interview - Zoom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Elevate Coach Interview - In Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coach_Application_to_Interview_Scheduled</targetReference>
            </connector>
            <label>Coach Interview</label>
        </rules>
    </decisions>
    <decisions>
        <description>So there&apos;s no path forward if the system admin is not found.</description>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>1271</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>System Admin Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Find the applicable application for the Candidate (may be an application for different roles, eg Study Skills Presenter, Connect Presenter, Student Coach)</description>
        <name>What_Position</name>
        <label>What Position?</label>
        <locationX>5187</locationX>
        <locationY>2483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Study_Skills_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Elevate Presenter Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Application</targetReference>
            </connector>
            <label>Is Study Skills</label>
        </rules>
        <rules>
            <name>Is_Connect_Presenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Connect_Application</targetReference>
            </connector>
            <label>Is Connect Presenter</label>
        </rules>
        <rules>
            <name>Is_Student_Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Coach_Application</targetReference>
            </connector>
            <label>Is Student Coach</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which b2c SBU does this event relate to?</description>
        <name>Which_b2c_SBU</name>
        <label>Which b2c SBU?</label>
        <locationX>644</locationX>
        <locationY>2579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>b2c_Australia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>robbeattie@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leah@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>phoebe.marcheff@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_B2C_Owner_AU</targetReference>
            </connector>
            <label>b2c Australia</label>
        </rules>
        <rules>
            <name>b2c_UK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ukcoaching@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>jess@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>molly.mcgeachin@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>olivia@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>alex.odonnell@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_B2C_Owner_UK</targetReference>
            </connector>
            <label>b2c UK</label>
        </rules>
        <rules>
            <name>b2c_South_Africa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>chad@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly__EventPrimaryPublisherEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dylan.nefdt@elevateeducation.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_B2C_Owner_ZA</targetReference>
            </connector>
            <label>b2c South Africa</label>
        </rules>
    </decisions>
    <description>Updated to include AU B2C calendly question order;
Updated to include new AUS B2C round robin;
Updated to include mobile phone number for ZA B2C;
Added &apos;dylan.nedft@elevateeducation.com&apos; for ZA B2C;
Updated logic for changing application status based on product family;
Updated &apos;alex.odonnell@elevateeducation.com&apos; for UK B2C
Tweaked Start Date/End Date criteria for mid funnel
Tweaked mid funnel value to &quot;Mid-Funnel Campaign&quot;
Updated Lead creation logic for mid funnel campaigns
Updated B2C Lead pathway for UK (new question in Calendly)
Updated B2C Lead pathway for AUS (new question in Calendly)
Updated B2C Lead pathway for ZA
Added Pre &amp; Post webinar logic based on UTM links. 
Added 5 x UTM fields to Lead Creation steps for b2c Aus &amp; UK.
Added Molly &amp; Jess emails for UK B2C pathway; Updated BU formula; New Lead pathway for UK

Created new &apos;LeadOwnerId&apos; variable used to assign to a Lead.

Removed Create Campaign Member step (this logic has been moved after Pardot sync to LEAD AutoLaunch UpdatedOnly by B2BMAUser RunAfter)

Added logic to find Owner Id for b2c Leads for each region (Decision &apos;Which B2C SBU&apos; &amp; 3 x Get Records &apos;Find B2C Owner&apos;)

Creates event (activity) based on Calendly Events (Elevate&apos;s custom flow, based on Calendly&apos;s template) - updated Campaign filter start date, end date (to reference Current Date variable)</description>
    <environments>Default</environments>
    <formulas>
        <name>BusinessUnit</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Calendly__EventPrimaryPublisherEmail__c}=&quot;robbeattie@elevateeducation.com&quot;, &quot;Elevate Australia Coaching&quot;, IF(OR({!$Record.Calendly__EventPrimaryPublisherEmail__c}=&quot;ukcoaching@elevateeducation.com&quot;,{!$Record.Calendly__EventPrimaryPublisherEmail__c}=&quot;jess@elevateeducation.com&quot;,{!$Record.Calendly__EventPrimaryPublisherEmail__c}=&quot;molly.mcgeachin@elevateeducation.com&quot;), &quot;Elevate UK Coaching&quot;, 
&quot;Elevate South Africa Coaching&quot;))</expression>
    </formulas>
    <interviewLabel>CreateEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CALENDLY ACTION AutoLaunch RunAfter Created&amp;Updated CREATE EVENT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create B2C Lead</description>
        <name>Copy_2_of_Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>50</locationX>
        <locationY>2903</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Elevate Australia Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Webinar Invite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_School_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeTimezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_Level__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b2c_Student_Name__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_campaign__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_content__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_medium__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmMedium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_source__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_term__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmTerm__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1227</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>Type_of_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zoom__c</field>
            <value>
                <elementReference>$Record.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <description>Create B2C Lead</description>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>314</locationX>
        <locationY>2903</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Elevate Australia Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Webinar Invite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Calendly__CustomQuestion1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_School_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeTimezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_Level__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b2c_Student_Name__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_campaign__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_content__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_medium__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmMedium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_source__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_term__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmTerm__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create B2C Lead</description>
        <name>Create_New_Lead_UK</name>
        <label>Create New Lead</label>
        <locationX>578</locationX>
        <locationY>2795</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Elevate UK Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Webinar Invite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_School_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeTimezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_Level__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_campaign__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_content__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_medium__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmMedium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_source__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_term__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmTerm__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create B2C Lead</description>
        <name>Create_New_Lead_ZA</name>
        <label>Create New Lead</label>
        <locationX>842</locationX>
        <locationY>2795</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Elevate South Africa Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Webinar Invite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_School_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_b2c__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeTimezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_Level__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_campaign__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_content__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_medium__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmMedium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_source__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__utm_term__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmTerm__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>1961</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Find B2C Owner User Id</description>
        <name>Find_B2C_Owner_AU</name>
        <label>Find B2C Owner (AU)</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Round_Robin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>robbeattie@elevateeducation.com</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LeadOwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Find B2C Owner User Id for UK</description>
        <name>Find_B2C_Owner_UK</name>
        <label>Find B2C Owner (UK)</label>
        <locationX>578</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Lead_UK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate_UK_B2C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>LeadOwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find B2C Owner User Id for South Africa</description>
        <name>Find_B2C_Owner_ZA</name>
        <label>Find B2C Owner (ZA)</label>
        <locationX>842</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Lead_ZA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate_South_Africa_B2C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>LeadOwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>3605</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>2976</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Contract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>4003</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Lead</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>3274</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Campaign</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This lookup with find the converted contact, or set RecordId to null since the converted lead cannot be updated.</description>
        <name>Find_Converted_Contact</name>
        <label>Find Converted Contact</label>
        <locationX>3735</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Lead</name>
        <label>Find Lead</label>
        <locationX>4535</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>B2C_or_B2B</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Find CampaignId for the active b2c mid funnel campaign</description>
        <name>Find_Mid_funnel_CampaignId</name>
        <label>Find Mid funnel CampaignId</label>
        <locationX>776</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_b2c_SBU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mid funnel</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUnit</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>2695</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Find CampaignId for the active b2c Webinar that is post webinar</description>
        <name>Find_PostWebinar_CampaignId</name>
        <label>Find PostWebinar CampaignId</label>
        <locationX>248</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_b2c_SBU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Webinar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Webinar_Date_Time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUnit</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find CampaignId for the active b2c Webinar that is pre webinar</description>
        <name>Find_PreWebinar_CampaignId</name>
        <label>Find PreWebinar CampaignId</label>
        <locationX>512</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_b2c_SBU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Webinar</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Webinar_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coaching</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUnit</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find the integration user profile</description>
        <name>Find_Profile</name>
        <label>Find System Profile</label>
        <locationX>1447</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Publisher</name>
        <label>Find Publisher</label>
        <locationX>1227</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integration@elevateeducation.com</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>1271</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integration@elevateeducation.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integration@elevateeducation.com.test</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find the Study Skills Application</description>
        <name>Match_Application</name>
        <label>Match Study Skills Application</label>
        <locationX>4791</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Position_name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Study Skills</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Match_Coach_Application</name>
        <label>Match Coach Application</label>
        <locationX>5319</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Position_name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Coach</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find the Connect Presenter Application</description>
        <name>Match_Connect_Application</name>
        <label>Match Connect Application</label>
        <locationX>5055</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Position_name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Connect</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Match_Contact</name>
        <label>Match Contact</label>
        <locationX>6012</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Match_Lead</name>
        <label>Match Lead</label>
        <locationX>4395</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Matched</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find the employee&apos;s Resource record</description>
        <name>Match_Resource</name>
        <label>Match Resource</label>
        <locationX>5847</locationX>
        <locationY>2483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sked__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sked__Resource__c</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update Application Status to Call Scheduled</description>
        <name>Application_Call_Scheduled</name>
        <label>Application to Call Scheduled</label>
        <locationX>567</locationX>
        <locationY>3479</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4)  AND 5</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Application status to Interview Scheduled</description>
        <name>Application_to_Interview_Scheduled</name>
        <label>Application to Interview Scheduled</label>
        <locationX>831</locationX>
        <locationY>3479</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Interview Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Application Status to Call Scheduled</description>
        <name>Coach_Application_to_Call_Scheduled</name>
        <label>Coach Application to Call Scheduled</label>
        <locationX>1623</locationX>
        <locationY>3479</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4)  AND 5</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Application status to Interview Scheduled</description>
        <name>Coach_Application_to_Interview_Scheduled</name>
        <label>Coach Application to Interview Scheduled</label>
        <locationX>1887</locationX>
        <locationY>3479</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Interview Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Application Status to Call Scheduled</description>
        <name>Connect_Application_to_Call_Scheduled</name>
        <label>Connect Application to Call Scheduled</label>
        <locationX>1095</locationX>
        <locationY>3479</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4)  AND 5</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Application status to Interview Scheduled</description>
        <name>Connect_Application_to_Interview_Scheduled</name>
        <label>Connect Application to Interview Scheduled</label>
        <locationX>1359</locationX>
        <locationY>3479</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Interview Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <sourceTemplate>Calendly__CreateEventTemplate</sourceTemplate>
    <start>
        <locationX>6861</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_invitee_created</targetReference>
        </connector>
        <object>Calendly__CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Campaign Id for the Webinar</description>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF Id for the Candidate record related to the Contact.</description>
        <name>CandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Today&apos;s date</description>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadConvertedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>As distinct from OwnerId which is used for the Event</description>
        <name>LeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the employee&apos;s Resource record</description>
        <name>SkedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhatRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
