force-app/main/default/flows/LEAD_AutoLaunch_CreatedOrUpdatedOnly_RunAfter_MAIN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Student_ID</name>
        <label>Assign Student ID</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>B2CStudentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Student_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Newly_converted_Opp_with_Student_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Student_ID_2</name>
        <label>Assign Student ID</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>B2CStudentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Student_Account_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Newly_converted_Opp_with_Student_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>B2C_or_B2B</name>
        <label>B2C or B2B?</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_student_name_available</targetReference>
            </connector>
            <label>B2C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_school_found</name>
        <label>Existing school found</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Student_School</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Student_Account_New</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_School</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Student_School</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Student_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Two different paths depending on Lead being Converted or not</description>
        <name>Is_Converted</name>
        <label>Is Converted?</label>
        <locationX>1172</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Lead_unsubscibed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_or_B2B</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_student_name_available</name>
        <label>Is student name available?</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_StudentName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b2c_Student_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Student_School</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_unsubscibed</name>
        <label>Lead unsubscibed?</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_unsub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubscribed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opt_out_field</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Latest: Find and Update newly created Parent Account with Job Region;
New variable for Student LAST name to be used in creating Student account;
Flow checks if Student name is available in Lead before creating Student account;
Update Opp.Description with Lead.Description;
Find Opp using Lead record ID and update Student;
Update School on Student Account - B2C Lead Conversion;
Update Lead Status to closed for the same trigger as below.
Update Lead.Optout field when Lead.LeadStatus is set to ‘Unsubscribed’ in Salesforce (Mailshake triggers the latter)</description>
    <environments>Default</environments>
    <formulas>
        <description>Created this resource to capture Lead Full Name due to this Salesforce restriction ----&gt; &quot;The $Record.Name field contains a derived value that isn’t supported. In a scheduled or record-triggered flow, $Record doesn’t support some standard fields whose values are derived.&quot;</description>
        <name>LeadFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp; &quot; &quot; &amp; {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <description>If Student&apos;s last name is provided in the Lead, use it. Otherwise update Last name as &apos;Not Provided&apos;</description>
        <name>StudentLastName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Student_Last_Name__c}),  &quot;Not Provided&quot; ,{!$Record.Student_Last_Name__c})</expression>
    </formulas>
    <interviewLabel>LEAD AutoLaunch CreatedOrUpdatedOnly RunAfter MAIN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD AutoLaunch CreatedOrUpdated RunAfter MAIN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Student_Account</name>
        <label>Create Student Account (Existing school)</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_Student_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Type_I_Am__pc</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.b2c_Student_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>StudentLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012I80000004Iq6IAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__c</field>
            <value>
                <elementReference>Find_Student_School.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Year_Level__c</field>
            <value>
                <elementReference>$Record.Year_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Student_Account_New</name>
        <label>Create Student Account (New School)</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_Student_ID_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Type_I_Am__pc</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.b2c_Student_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>StudentLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012I80000004Iq6IAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Text_b2c__c</field>
            <value>
                <elementReference>$Record.Student_s_School_b2c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Year_Level__c</field>
            <value>
                <elementReference>$Record.Year_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Find Student School if it exists already, so it can be updated on Student Account</description>
        <name>Find_Student_School</name>
        <label>Find Student School</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_school_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012I80000004IeyIAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_s_School_b2c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Job Region using Lead.TimeZone</description>
        <name>Get_Job_Region</name>
        <label>Get Job Region</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_and_Update_newParentAccount_with_JobRegion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__Timezone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Timezone_b2c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sked__Region__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Find_and_Update_newParentAccount_with_JobRegion</name>
        <label>Find and Update newly created Parent Account with Job Region</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Record_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Assignment_Region__c</field>
            <value>
                <elementReference>Get_Job_Region.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Newly_converted_Opp_with_Student_Name</name>
        <label>Find and Update newly converted Opp with Student</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Job_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Record_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>B2CStudentID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Lead.Optout field when Lead.LeadStatus is set to ‘Unsubscribed’ in Salesforce (Mailshake triggers the latter)</description>
        <name>Update_Opt_out_field</name>
        <label>Update Opt out field and close Lead</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Converted</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>B2CConvertedOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to capture the ID of the newly created student account</description>
        <name>B2CStudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to capture Student&apos;s school if it exists in Salesforce already</description>
        <name>B2CStudentSchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
