force-app/main/default/flows/Onboarding_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Weekly scheduled batch WHERE Resource Active = TRUE AND &apos;Onboarding Admin Status&apos; = In Progress</description>
        <name>Send_Onboarding_reminder_email</name>
        <label>Send Onboarding reminder email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.sked__User__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000lEkjEAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>training@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.sked__User__r.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Weekly scheduled batch WHERE Resource Active = TRUE AND &apos;Onboarding Admin Status&apos; = In Progress</description>
        <name>Send_Onboarding_reminder_email_0</name>
        <label>Send Onboarding reminder email</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.sked__User__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000LxYdMAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>onboarding@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.sked__User__r.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_SBU</name>
        <label>Check SBU</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Onboarding_reminder_email</targetReference>
            </connector>
            <label>AUS</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Onboarding_reminder_email_0</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <description>Email activity related to Resource record.</description>
    <environments>Default</environments>
    <interviewLabel>Onboarding Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RESOURCE AutoLaunch ScheduleWeeklyWed ONBOARD REMINDER</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SBU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Admin_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_email_sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Elevate_Coach__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sked__Resource__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-08-05</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
