force-app/main/default/flows/OPPORTUNITY_AutoLaunch_RunBefore_Created_Opportunity_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Which Record Type is to be assigned?</description>
        <name>Which_Record_Type</name>
        <label>Decide Record Type</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_B2B_New_Sales_Opp_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cura_Opp_Record_Type</targetReference>
            </connector>
            <label>Cura</label>
        </rules>
        <rules>
            <name>B2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit_2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_B2C_Opp_Record_Type</targetReference>
            </connector>
            <label>B2C</label>
        </rules>
    </decisions>
    <description>Updated Condition to decide B2C Record type.
Added condition to only update Pricebook if current value is NULL.
Added logic to set the pricebook based on &apos;Business Unit&apos; custom meta data.
Latest - Update Opportunity Name using Lead full name (Cura Only)
Update Opportunity Record Type when created from a Lead</description>
    <environments>Default</environments>
    <formulas>
        <description>Standardise Opportunity name using Lead details</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;FREE TRIAL - Cura Subscription - &quot; &amp; {!$Record.Lead_Name__c}</expression>
    </formulas>
    <interviewLabel>OPPORTUNITY AutoLaunch RunBefore Created Opportunity Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY AutoLaunch RunBefore Created (from Lead)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Opportunity Record Type Id for &apos;Elevate B2B New Business&apos;</description>
        <name>Get_B2B_New_Sales_Opp_Record_Type</name>
        <label>Get B2B New Sales Opp Record Type</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_to_Elevate_B2B_New_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate B2B New Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Record Type Id for &apos;Elevate B2C&apos;</description>
        <name>Get_B2C_Opp_Record_Type</name>
        <label>Get B2C Opp Record Type</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_to_Elevate_B2C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate B2C</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Record Type Ids</description>
        <name>Get_Cura_Opp_Record_Type</name>
        <label>Get Cura Opp Record Type</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_to_Cura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cura</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Unit_2__c</elementReference>
            </value>
        </filters>
        <object>Business_Unit_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>DefaultPricebookId</assignToReference>
            <field>Default_Pricebook_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Set Opp Pricebook with the default pricebook id from the &apos;Business Unit&apos; custom meta data</description>
        <name>Set_Pricebook</name>
        <label>Set Pricebook</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>DefaultPricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Standardise Opportunity name using Lead details</description>
        <name>Update_Opportunity_Name</name>
        <label>Update Opportunity Name</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity Record type to Cura</description>
        <name>Update_Record_Type_to_Cura</name>
        <label>Update Record Type to Cura</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Opportunity_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Cura_Opp_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity Record type to Elevate B2B New Sales</description>
        <name>Update_Record_Type_to_Elevate_B2B_New_Sales</name>
        <label>Update Record Type to Elevate B2B New Sales</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_B2B_New_Sales_Opp_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity Record type to Elevate B2C</description>
        <name>Update_Record_Type_to_Elevate_B2C</name>
        <label>Update Record Type to Elevate B2C</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_B2C_Opp_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_from_lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Default pricebook id for the Business Unit (from Business Unit custom meta data)</description>
        <name>DefaultPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
