force-app/main/default/flows/OPPORTUNITY_AutoLaunch_RunAfter_CreatedAndUpdated_Opportunity_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Diagnostic_Booked_email_to_Consultant</name>
        <label>Send Diagnostic Booked email to Consultant</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000M0VpMAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.b2c_Consultant__r.sked__Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Handover_email_to_Consultant</name>
        <label>Send Handover report email to Consultant</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000M0bsMAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.b2c_Consultant__r.sked__Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>B2B_or_B2C</name>
        <label>Is B2C opp?</label>
        <locationX>1601</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012I80000004IfJIAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Mo000001oAd7IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012I80000004IfNIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Trial_Start_and_End_Dates</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debrief</name>
        <label>Debrief Activity kicked off?</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Send_Handover_email_to_Consultant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Debrief</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Debrief_Rating_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Debrief_Comment_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Debrief_Completed_b2c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mid_Debrief_Completed_b2c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Debrief_Completed_b2c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mid_Debrief_Rating_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Debrief_Rating_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mid_Debrief_Comment_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Debrief_Comment_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debrief_Activity_kicked_off</name>
        <label>Debrief Activity kicked off?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Send_Diagnostic_Booked_email_to_Consultant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebriefKicked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Debrief_Rating_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Debrief_Comment_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Debrief_Completed_b2c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mid_Debrief_Completed_b2c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Debrief_Completed_b2c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mid_Debrief_Rating_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Debrief_Rating_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mid_Debrief_Comment_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Debrief_Comment_b2c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diagnostic_already_created</name>
        <label>Diagnostic already created</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Diagnostic_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Diagnostic_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debrief</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_changed</name>
        <label>Status changed?</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DiagnosticBooked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnostic Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.b2c_Consultant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debrief_Activity_kicked_off</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Diagnostic Booked, Not Upsell</label>
        </rules>
        <rules>
            <name>Yes_Opp_Close_Win</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.b2c_Consultant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Diagnostic_records</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Opp Close Win, Not Upsell</label>
        </rules>
        <rules>
            <name>Yes_Diagnostic_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnostic Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.b2c_Consultant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_Diagnostic_Run_checkbox</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Diagnostic Done</label>
        </rules>
    </decisions>
    <description>Latest - Include new record type &apos;B2C RMHC&apos; to the decision element;
Add No to &quot;Is B2C Opp Decision; Update related Primary Contact&apos;s Trial Start and End Dates
Exclude Upsell Opps from sending emails to consultants;
Exclude Debrief populated Opps from sending emails to consultants &amp; Email to Parent removed;
Email to Parent after Diagnostic Notes are added.
B2C automated email to Consultant not triggered if consultant field is null.
B2C automated email to Consultant when Opp is close won.
Updated WhatId to DO NOT DELETE Teacher to fix Flow error while sending email;
B2C automated email to Consultant when Diagnostic is booked.</description>
    <environments>Default</environments>
    <formulas>
        <name>CuraEndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.cura_End_Time__c})</expression>
    </formulas>
    <formulas>
        <name>CuraStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.cura_Start_Time__c})</expression>
    </formulas>
    <interviewLabel>OPPORTUNITY AutoLaunch RunAfter CreatedAndUpdated Opportunity Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY AutoLaunch RunAfter CreatedAndUpdated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Diagnostic_records</name>
        <label>Get Diagnostic records</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Diagnostic_already_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Diagnostic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Files</name>
        <label>Get Related Files</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Diagnostic QA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>To report on Opps where Diagnostic did not run, &apos;Diagnostic Run&apos; checkbox is set to TRUE when Opp Stage = Diagnostic Done.</description>
        <name>Tick_Diagnostic_Run_checkbox</name>
        <label>Tick &apos;Diagnostic Run&apos; checkbox</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Related_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>Diagnostic_Run_b2c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Type</name>
        <label>Update Opportunity Type</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Campaign_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AP4A</stringValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AP For All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AP4All</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>AP4All</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trial_Start_and_End_Dates</name>
        <label>Update Trial Start and End Dates</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>cura_trial_end_date__c</field>
            <value>
                <elementReference>CuraEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cura_trial_start_date__c</field>
            <value>
                <elementReference>CuraStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Primary_Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>1475</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>B2B_or_B2C</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>ContentDocumentId of the diagnostic QA report we want to attach. It will take the latest ContentVerion.</description>
        <name>DiagnosticQA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
