force-app/main/default/flows/Resource_Probation_End_Date_6_Months.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Populate_PD</name>
        <label>Populate PD</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Override ProbEndDate</defaultConnectorLabel>
        <rules>
            <name>Initial_ProbEndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probation_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probation_End_Date</targetReference>
            </connector>
            <label>Initial ProbEndDate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Start Date + 60 Days</description>
        <name>PDplus6Months</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH({!$Record.sked_Start_Date__c})&gt;6,
DATE( YEAR({!$Record.sked_Start_Date__c})+1 , MOD (MONTH({!$Record.sked_Start_Date__c})+6,12) , DAY({!$Record.sked_Start_Date__c}) ) ,
DATE( YEAR({!$Record.sked_Start_Date__c}) , MONTH({!$Record.sked_Start_Date__c})+6 , DAY({!$Record.sked_Start_Date__c}) )
)</expression>
    </formulas>
    <interviewLabel>Resource: Probation End Date + 6 Months {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource: Probation End Date + 6 Months</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Start Date + 6 Months = Probation End Date</description>
        <name>Update_Probation_End_Date</name>
        <label>Update Probation End Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Probation_End_Date__c</field>
            <value>
                <elementReference>PDplus6Months</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_PD</targetReference>
        </connector>
        <object>sked__Resource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
