force-app/main/default/flows/Send_Booking_Feedback_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Feedback_email_UK</name>
        <label>Send Booking Feedback request email</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_UK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000kxQaEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>help@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Feedback_Follow_up_UK</name>
        <label>Send_Booking_Feedback_Follow-up</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update2_UK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000kxUIEAY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>help@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Feedback_Follow_up</name>
        <label>Send_Booking_Feedback_Follow-up</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_Set_Feedback_Follow_up_Email_Sent_to_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000kxQfEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>customer@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Feedback_Follow_up_0</name>
        <label>Send_Booking_Feedback_Follow-up</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_Set_Feedback_Follow_up_Email_Sent_to_True_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000kxQfEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>support@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Feedback_Follow_up_US</name>
        <label>Send_Booking_Feedback_Follow-up</label>
        <locationX>2690</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_Set_Feedback_Follow_up_Email_Sent_to_True_US</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000Lx2WMAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>schools@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Feedback_request_email</name>
        <label>Send Booking Feedback request email</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_Set_Feedback_Email_Sent_and_Trigger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000kxQaEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>customer@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Feedback_request_email_0</name>
        <label>Send Booking Feedback request email</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_Set_Feedback_Email_Sent_and_Trigger_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000kxQaEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>support@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Feedback_request_email_USA</name>
        <label>Send Booking Feedback request email</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_update_Set_Feedback_Email_Sent_and_Trigger_USA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000LwqVMAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>schools@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Based on the BU, different email is sent.</description>
        <name>Check_Business_Unit</name>
        <label>Check Business Unit</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Study Skills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School__r.Organisation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Request_or_Follow_up</targetReference>
            </connector>
            <label>Elevate South Africa</label>
        </rules>
        <rules>
            <name>Elevate_Australia</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Study Skills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ecree</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Request_or_Follow_up_0</targetReference>
            </connector>
            <label>Elevate Australia and Singapore</label>
        </rules>
        <rules>
            <name>Elevate_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Study Skills</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Request_or_Follow_up_0_0</targetReference>
            </connector>
            <label>Elevate UK</label>
        </rules>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Study Skills</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Request_or_Follow_up_USA</targetReference>
            </connector>
            <label>Elevate USA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if initial Feedback email has already been sent, if not, send it. If initial email was already sent, send feedback follow-up email</description>
        <name>Feedback_Request_or_Follow_up</name>
        <label>Feedback Request or Follow-up?</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feedback_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booking_Feedback_request_email</targetReference>
            </connector>
            <label>Feedback Request</label>
        </rules>
        <rules>
            <name>Follow_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Followup_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2022-08-20</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booking_Feedback_Follow_up</targetReference>
            </connector>
            <label>Follow-up</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if initial Feedback email has already been sent, if not, send it. If initial email was already sent, send feedback follow-up email</description>
        <name>Feedback_Request_or_Follow_up_0</name>
        <label>Feedback Request or Follow-up?</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feedback_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booking_Feedback_request_email_0</targetReference>
            </connector>
            <label>Feedback Request</label>
        </rules>
        <rules>
            <name>Follow_up_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Followup_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2022-08-29</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booking_Feedback_Follow_up_0</targetReference>
            </connector>
            <label>Follow-up</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if initial Feedback email has already been sent, if not, send it. If initial email was already sent, send feedback follow-up email</description>
        <name>Feedback_Request_or_Follow_up_0_0</name>
        <label>Feedback Request or Follow-up?</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feedback_Request_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_email_UK</targetReference>
            </connector>
            <label>Feedback Request</label>
        </rules>
        <rules>
            <name>Follow_up_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Followup_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Follow_up_UK</targetReference>
            </connector>
            <label>Follow-up</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if initial Feedback email has already been sent, if not, send it. If initial email was already sent, send feedback follow-up email</description>
        <name>Feedback_Request_or_Follow_up_USA</name>
        <label>Feedback Request or Follow-up?</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feedback_Request_USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Feedback_request_email_USA</targetReference>
            </connector>
            <label>Feedback Request USA</label>
        </rules>
        <rules>
            <name>Follow_up_USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Feedback_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Feedback_Followup_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booking_Feedback_Follow_up_US</targetReference>
            </connector>
            <label>Follow-up USA</label>
        </rules>
    </decisions>
    <description>LATEST - Changed email sender - ZA CSM Leandrie to Tris;
Scheduled path condition requirement changed from &apos;Less than Today&apos; to &apos;Less than or equal to Today&apos;;
-Update email to &apos;schools@elevateeducation.com&apos; for NY only;</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Send Booking Feedback email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOOKING AutoLaunch RunAfter CreatedAndUpdated SEND FEEDBACK</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Field update: Set Feedback Follow-up Email Sent to True and Set Trigger Feedback Follow-up Email to False</description>
        <name>Field_update2_UK</name>
        <label>Field update: Set Feedback Follow-up Email Sent to True</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Follow_Up_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Followup_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Email Sent to True and Set Trigger Feedback Email to False</description>
        <name>Field_update_Set_Feedback_Email_Sent_and_Trigger</name>
        <label>Field update: Set Feedback Email Sent and Trigger</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Email Sent to True and Set Trigger Feedback Email to False</description>
        <name>Field_update_Set_Feedback_Email_Sent_and_Trigger_0</name>
        <label>Field update: Set Feedback Email Sent and Trigger</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Email Sent to True and Set Trigger Feedback Email to False</description>
        <name>Field_update_Set_Feedback_Email_Sent_and_Trigger_USA</name>
        <label>Field update: Set Feedback Email Sent and Trigger</label>
        <locationX>2426</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Follow-up Email Sent to True and Set Trigger Feedback Follow-up Email to False</description>
        <name>Field_update_Set_Feedback_Follow_up_Email_Sent_to_True</name>
        <label>Field update: Set Feedback Follow-up Email Sent to True</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Follow_Up_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Followup_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Follow-up Email Sent to True and Set Trigger Feedback Follow-up Email to False</description>
        <name>Field_update_Set_Feedback_Follow_up_Email_Sent_to_True_0</name>
        <label>Field update: Set Feedback Follow-up Email Sent to True</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Follow_Up_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Followup_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Follow-up Email Sent to True and Set Trigger Feedback Follow-up Email to False</description>
        <name>Field_update_Set_Feedback_Follow_up_Email_Sent_to_True_US</name>
        <label>Field update: Set Feedback Follow-up Email Sent to True</label>
        <locationX>2690</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Follow_Up_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Followup_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field update: Set Feedback Email Sent to True and Set Trigger Feedback Email to False</description>
        <name>Field_update_UK</name>
        <label>Field update: Set Feedback Email Sent and Trigger</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Feedback_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Feedback_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Trigger_Follow_up_field_to_TRUE</name>
        <label>Set &apos;Trigger Follow-up&apos; field to TRUE</label>
        <locationX>3482</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Feedback_Collected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Feedback_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Feedback_Followup_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2498</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Business_Unit</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND({!$Record.Feedback_Collected__c}=FALSE,{!$Record.Trigger_Feedback_Email__c}=TRUE,{!$Record.Date__c}&lt;=TODAY(),OR(ISPICKVAL( {!$Record.Status__c} , &apos;Booking Confirmed&apos;),ISPICKVAL( {!$Record.Status__c} , &apos;Delivered&apos;)))</filterFormula>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Week_Follow_up</name>
            <connector>
                <targetReference>Set_Trigger_Follow_up_field_to_TRUE</targetReference>
            </connector>
            <label>1 Week Follow-up</label>
            <offsetNumber>168</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
