force-app/main/default/flows/When_a_User_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Password</name>
        <label>Generate Password</label>
        <locationX>1102</locationX>
        <locationY>924</locationY>
        <actionName>UserPasswordResetPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Resource_created_above</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UserPasswordResetPlugin</nameSegment>
        <outputParameters>
            <assignToReference>Password</assignToReference>
            <name>password</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Username</assignToReference>
            <name>username</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send email with link to Onboarding form</description>
        <name>Onboarding_email_AUS</name>
        <label>Send Onboarding email</label>
        <locationX>464</locationX>
        <locationY>1248</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pre_training_email_needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>OnboardingEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>jobs@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Welcome to Elevate!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send email with link to Onboarding form</description>
        <name>Onboarding_email_UK</name>
        <label>Send Onboarding email</label>
        <locationX>948</locationX>
        <locationY>1248</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_email_activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>OnboardingEmailUK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>onboarding@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Welcome to Elevate!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Coaching Pre-Training email</description>
        <name>Send_Coaching_Pre_Training_email</name>
        <label>Send Coaching Pre-Training email</label>
        <locationX>508</locationX>
        <locationY>1464</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_email_activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000LzFMMA0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>training@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send email with link to Onboarding form</description>
        <name>Send_Onboarding_email_US</name>
        <label>Send Onboarding email</label>
        <locationX>1212</locationX>
        <locationY>1248</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_email_activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>OnboardingEmailUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>careers@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Welcome to Elevate!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send email with link to Onboarding form</description>
        <name>Send_Onboarding_email_ZA</name>
        <label>Send Onboarding email</label>
        <locationX>1476</locationX>
        <locationY>1248</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_email_activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0036F00002CHO4OQAX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>OnboardingEmailZA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>work@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Welcome to Elevate!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Applicant_available</name>
        <label>Applicant available</label>
        <locationX>1553</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Create_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Resource_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Resource_exists_already_0</name>
        <label>Check if Resource exists already</label>
        <locationX>723</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_Candidate_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resources_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_email_needed</name>
        <label>Onboarding email needed?</label>
        <locationX>1102</locationX>
        <locationY>1140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia - Presenter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_email_AUS</targetReference>
            </connector>
            <label>Elevate Australia</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK - Presenter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_email_UK</targetReference>
            </connector>
            <label>Elevate UK</label>
        </rules>
        <rules>
            <name>Elevate_USA_Onb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA - Presenter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Onboarding_email_US</targetReference>
            </connector>
            <label>Elevate USA</label>
        </rules>
        <rules>
            <name>Elevate_South_Africa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa - Presenter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Onboarding_email_ZA</targetReference>
            </connector>
            <label>Elevate South Africa</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the product line, send relevant pre-training email automatically (AUS Only)</description>
        <name>Pre_training_email_needed</name>
        <label>Pre-training email needed? (AUS Only)</label>
        <locationX>464</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>Update_email_activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Study_Skills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_details.Position_full_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Study</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_email_activity</targetReference>
            </connector>
            <label>Study Skills Presenter</label>
        </rules>
        <rules>
            <name>Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_details.Position_full_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_email_activity</targetReference>
            </connector>
            <label>Connect Presenter</label>
        </rules>
        <rules>
            <name>Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_details.Position_full_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Coaching_Pre_Training_email</targetReference>
            </connector>
            <label>Student Coach</label>
        </rules>
    </decisions>
    <description>Flow modified to remove automated Connect Pre-training email</description>
    <environments>Default</environments>
    <formulas>
        <description>Is the newly created resource a Connect Presenter?</description>
        <name>ConnectPresenter</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Title}, &quot;Connect Presenter&quot;)</expression>
    </formulas>
    <formulas>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate Australia&quot;),&quot;AU&quot;,
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate UK&quot;),&quot;GB&quot;,
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate USA&quot;),&quot;US&quot;,
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate South Africa&quot;),&quot;ZA&quot;,
&quot;SG&quot;))))</expression>
    </formulas>
    <formulas>
        <description>Is the newly created resource an Elevate Presenter or not?</description>
        <name>ElevatePresenter</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Title}, &quot;Elevate Presenter&quot;)</expression>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>NotificationType</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate Australia&quot;),ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate UK&quot;),ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate USA&quot;)), &quot;sms&quot;, &quot;push&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrimaryRegion</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate Australia&quot;),{!Get_Candidate_details.Position__r.Job_Region__r.Id},
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate UK&quot;),{!Get_Candidate_details.Position__r.Job_Region__r.Id},
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate USA&quot;),{!Get_Candidate_details.Position__r.Job_Region__r.Id},
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate South Africa&quot;),&quot;a196F00000DaFp7QAF&quot;,
&quot;a196F00000DaDfiQAF&quot;))))</expression>
    </formulas>
    <formulas>
        <description>Default Primary region for Resource when presenter user is manually created</description>
        <name>PrimaryRegionWithoutAppl</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate Australia&quot;),&quot;a196F0000095VbFQAU&quot;,
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate UK&quot;),&quot;a196F00000DaDXoQAN&quot;,
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate USA&quot;),&quot;a196F00000Da8J4QAJ&quot;,
IF(ISPICKVAL({!$Record.Business_Unit__c} , &quot;Elevate South Africa&quot;),&quot;a196F00000DaFp7QAF&quot;,
&quot;a196F00000DaDfiQAF&quot;))))</expression>
    </formulas>
    <formulas>
        <description>Is the newly created resource an Elevate Coach?</description>
        <name>StudentCoach</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Title}, &quot;Student Coach&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Combine user address details into one variable that can be passed on to Resource Home address.</description>
        <name>UserHomeAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.Street} &amp; &quot;,&quot; &amp; {!$Record.City} &amp; &quot;,&quot; &amp; {!$Record.State} &amp; &quot;,&quot; &amp; {!$Record.PostalCode}</expression>
    </formulas>
    <formulas>
        <description>Working with Children detail copied from Applicant to Resource</description>
        <name>WWC</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Candidate_details.Candidate__r.WWC_check__c},&quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>When a User is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>USER AutoLaunch RunAfter CreatedOnly ONBOARD RESOURCE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Resource</name>
        <label>Create Resource</label>
        <locationX>2004</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked_Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Country_Code__c</field>
            <value>
                <elementReference>CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Home_Address__c</field>
            <value>
                <elementReference>UserHomeAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Mobile_Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Notification_Type__c</field>
            <value>
                <elementReference>NotificationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Primary_Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Primary_Region__c</field>
            <value>
                <elementReference>PrimaryRegionWithoutAppl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Resource_Type__c</field>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sked__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create resource record for Presenter user</description>
        <name>Create_Resource_0</name>
        <label>Create Resource</label>
        <locationX>1102</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Get_User_Record_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Academic_Year__c</field>
            <value>
                <elementReference>Get_Candidate_details.Academic_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connect_Presenter__c</field>
            <value>
                <elementReference>ConnectPresenter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevate_Coach__c</field>
            <value>
                <elementReference>StudentCoach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevate_Presenter__c</field>
            <value>
                <elementReference>ElevatePresenter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Training_Date__c</field>
            <value>
                <elementReference>Get_Candidate_details.Final_Training_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Training_Start__c</field>
            <value>
                <elementReference>Get_Candidate_details.Final_Training_Start_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Training_Date__c</field>
            <value>
                <elementReference>Get_Candidate_details.Initial_Training_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Training_Start__c</field>
            <value>
                <elementReference>Get_Candidate_details.Initial_Training_Start_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Position__c</field>
            <value>
                <elementReference>Get_Candidate_details.Position__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presents_Unstandardised_Subject_s__c</field>
            <value>
                <elementReference>Get_Candidate_details.Unstandardised_Subject_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Subject__c</field>
            <value>
                <elementReference>Get_Candidate_details.Interview_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_Booster_vaccine__c</field>
            <value>
                <elementReference>Get_Candidate_details.Candidate__r.COVID_Vaccination_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked_Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Country_Code__c</field>
            <value>
                <elementReference>CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Mobile_Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Notification_Type__c</field>
            <value>
                <elementReference>NotificationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Primary_Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Primary_Region__c</field>
            <value>
                <elementReference>PrimaryRegion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Resource_Type__c</field>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sked__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Application details to populate the resource record</description>
        <name>Get_Candidate_details</name>
        <label>Get Application details</label>
        <locationX>1553</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate_email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_created_above</name>
        <label>Get Resource created above</label>
        <locationX>1102</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_email_needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <object>sked__Resource__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingLink</assignToReference>
            <field>Onboarding_form_link__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Check to see if a resource record exists for the user already</description>
        <name>Get_Resources_0</name>
        <label>Get Resources</label>
        <locationX>723</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Resource_exists_already_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>sked__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sked__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record_ID</name>
        <label>Get User Record ID</label>
        <locationX>1102</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Password</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>used to link Applicant with Resource as part of Onboarding</description>
        <name>Update_Candidate_record_with_Resource</name>
        <label>Update Candidate record with Resource</label>
        <locationX>1102</locationX>
        <locationY>1848</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Applicant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_email_activity</name>
        <label>Update email activity</label>
        <locationX>1102</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Update_Candidate_record_with_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_email_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sked__Resource__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elevate Skedulo Presenter Profile</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_a_User_is_created</name>
            <connector>
                <targetReference>Get_Resources_0</targetReference>
            </connector>
            <label>After a User is created</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OnboardingEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congratulations on joining Elevate Education and welcome to the team!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We&apos;re so excited to have you on board!&amp;nbsp;Just a few things to do before you start:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will need to complete some &lt;strong&gt;new employee forms&lt;/strong&gt; and provide info such as banking details, a TFN number, super information, a reference to contact, etc. It&apos;s pretty standard stuff, but we need this so we can pay you (exciting!). You&apos;ll also need to upload some &lt;strong&gt;supporting documents&lt;/strong&gt; such as a Working With Children Check and 100 points of ID.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this, you will need to read and accept a number of &lt;strong&gt;company policies&lt;/strong&gt; and procedures. They are important documents, so take the time to read and understand what we expect from you before you digitally accept to follow these guidelines.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be aware that &lt;strong&gt;this personalised link is private and confidential&lt;/strong&gt;. &lt;strong&gt;It provides access to all of your private information. So, please do not share this link with anyone.&lt;/strong&gt; Ready to get started?!? &lt;a href=&quot;{!OnboardingLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Click here to complete your Onboarding process.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Login details:&lt;/p&gt;&lt;p&gt;Username:&amp;nbsp;{!Username}&lt;/p&gt;&lt;p&gt;Password:&amp;nbsp;{!Password}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The final step is to prepare for training. We will send another email with training information to help you know what to expect and how to set yourself up for success.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need help at any time, contact our team at jobs@elevateeducation.com or call 1300 667 945.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Elevate Education&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardingEmailUK</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congratulations on joining Elevate Education and welcome to the team!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We&apos;re so excited to have you on board!&amp;nbsp;Just a few things to do before you start:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will need to complete some &lt;strong&gt;new employee forms&lt;/strong&gt; and provide info such as banking details, National Insurance number, a reference to contact, etc. It&apos;s pretty standard stuff, but we need this so we can pay you (exciting!). You&apos;ll also need to upload some &lt;strong&gt;supporting documents&lt;/strong&gt; such as DBS and Proof of Identity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this, you will need to read and accept a number of &lt;strong&gt;company policies&lt;/strong&gt; and procedures. They are important documents, so take the time to read and understand what we expect from you before you digitally accept to follow these guidelines.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be aware that &lt;strong&gt;this personalised link is private and confidential&lt;/strong&gt;. &lt;strong&gt;It provides access to all of your private information. So, please do not share this link with anyone.&lt;/strong&gt; Ready to get started?!? &lt;a href=&quot;{!OnboardingLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Click here to complete your Onboarding process.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Login details:&lt;/p&gt;&lt;p&gt;Username:&amp;nbsp;{!Username}&lt;/p&gt;&lt;p&gt;Password:&amp;nbsp;{!Password}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The final step is to prepare for training. We will send another email with training information to help you know what to expect and how to set yourself up for success.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need help at any time, contact our team at recruitment@elevateeducation.com or call 01865 980 269.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Elevate Education&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardingEmailUS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congratulations on joining Elevate Education and welcome to the team!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We&apos;re so excited to have you on board!&amp;nbsp;Just a few things to do before you start:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will need to complete some &lt;strong&gt;new employee forms&lt;/strong&gt; and provide info such as banking details, a reference to contact, etc. It&apos;s pretty standard stuff, but we need this so we can pay you (exciting!). You&apos;ll also need to upload some &lt;strong&gt;supporting documents&lt;/strong&gt; such as Proof of Identity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this, you will need to read and accept a number of &lt;strong&gt;company policies&lt;/strong&gt; and procedures. They are important documents, so take the time to read and understand what we expect from you before you digitally accept to follow these guidelines.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be aware that &lt;strong&gt;this personalised link is private and confidential&lt;/strong&gt;. &lt;strong&gt;It provides access to all of your private information. So, please do not share this link with anyone.&lt;/strong&gt; Ready to get started?!? &lt;a href=&quot;https://elevateeducation.lightning.force.com/builder_platform_interaction/%7B!OnboardingLink%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Click here to complete your Onboarding process.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Login details:&lt;/p&gt;&lt;p&gt;Username:&amp;nbsp;{!Username}&lt;/p&gt;&lt;p&gt;Password:&amp;nbsp;{!Password}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The final step is to prepare for training. We will send another email with training information to help you know what to expect and how to set yourself up for success.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need help at any time, contact our team at rob@elevateeducation.com or call +1-212-213-8564.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Elevate Education&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardingEmailZA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congratulations on joining Elevate Education and welcome to the team!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We&apos;re so excited to have you on board!&amp;nbsp;Just a few things to do before you start:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will need to complete some &lt;strong&gt;new employee forms&lt;/strong&gt; and provide info such as banking details, a reference to contact, etc. It&apos;s pretty standard stuff, but we need this so we can pay you (exciting!). You&apos;ll also need to upload some &lt;strong&gt;supporting documents&lt;/strong&gt; such as Proof of Identity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this, you will need to read and accept a number of &lt;strong&gt;company policies&lt;/strong&gt; and procedures. They are important documents, so take the time to read and understand what we expect from you before you digitally accept to follow these guidelines.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be aware that &lt;strong&gt;this personalised link is private and confidential&lt;/strong&gt;. &lt;strong&gt;It provides access to all of your private information. So, please do not share this link with anyone.&lt;/strong&gt; Ready to get started?!? &lt;a href=&quot;{!OnboardingLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;strong&gt;Click here to complete your Onboarding process.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Login details:&lt;/p&gt;&lt;p&gt;Username:&amp;nbsp;{!Username}&lt;/p&gt;&lt;p&gt;Password:&amp;nbsp;{!Password}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The final step is to prepare for training. We will send another email with training information to help you know what to expect and how to set yourself up for success.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need help at any time, contact our team at work@elevateeducation.com.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Elevate Education&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OnboardingLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
