force-app/main/default/flows/When_Job_application_is_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Thank_you_email_0</name>
        <label>Thank you email</label>
        <locationX>710</locationX>
        <locationY>1163</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000l0sFEAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>jobs@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Thank you for your application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Thank_you_email_0_0</name>
        <label>Thank you email</label>
        <locationX>974</locationX>
        <locationY>1163</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X5i000000l2rYEAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>jobs@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Thank you for your application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Thank_you_email_NY</name>
        <label>Thank you email</label>
        <locationX>3614</locationX>
        <locationY>1163</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000LyjAMAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>careers@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Thank you for your application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Thank_you_UK_0</name>
        <label>Thank you email</label>
        <locationX>1502</locationX>
        <locationY>1163</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000LwxWMAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Thank you for your application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_Coach_Thank_you_email</name>
        <label>Thank you email</label>
        <locationX>1766</locationX>
        <locationY>1163</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000M07MMAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>recruitment@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Thank you for your application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ZA_Thank_you_email</name>
        <label>Thank you email</label>
        <locationX>2822</locationX>
        <locationY>1163</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00XI8000000M0apMAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>work@elevateeducation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Thank you for your application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Application_created_or_updated</name>
        <label>Application created or updated</label>
        <locationX>2360</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckifNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
        <rules>
            <name>Newly_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckifNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candi_Contact</targetReference>
            </connector>
            <label>Newly created</label>
        </rules>
        <rules>
            <name>Manually_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckifNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>Manually created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Business_Unit</name>
        <label>Check Business Unit</label>
        <locationX>2426</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Elevate_Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Position</targetReference>
            </connector>
            <label>Elevate Australia</label>
        </rules>
        <rules>
            <name>Elevate_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Position_UK</targetReference>
            </connector>
            <label>Elevate UK</label>
        </rules>
        <rules>
            <name>Elevate_South_Africa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Position_ZA</targetReference>
            </connector>
            <label>Elevate South Africa</label>
        </rules>
        <rules>
            <name>Elevate_USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Position_NY</targetReference>
            </connector>
            <label>Elevate USA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Position</name>
        <label>Check Position</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_email_0</targetReference>
            </connector>
            <label>Connect</label>
        </rules>
        <rules>
            <name>Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_email_0_0</targetReference>
            </connector>
            <label>Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Position_NY</name>
        <label>Check Position</label>
        <locationX>3350</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Thank_you_email_NY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connect_NY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <label>Connect</label>
        </rules>
        <rules>
            <name>Coach_NY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coach</stringValue>
                </rightValue>
            </conditions>
            <label>Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Position_UK</name>
        <label>Check Position</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connect_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_UK_0</targetReference>
            </connector>
            <label>Connect</label>
        </rules>
        <rules>
            <name>Coach_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Coach_Thank_you_email</targetReference>
            </connector>
            <label>Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Position_ZA</name>
        <label>Check Position</label>
        <locationX>2558</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>ZA_Thank_you_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connect_ZA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connect</stringValue>
                </rightValue>
            </conditions>
            <label>Connect</label>
        </rules>
        <rules>
            <name>Coach_ZA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position_name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coach</stringValue>
                </rightValue>
            </conditions>
            <label>Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed</name>
        <label>Application status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Hired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Hired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Penultimate_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Hired</label>
        </rules>
        <rules>
            <name>Hired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Penultimate_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Hired</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Penultimate_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Passed_GIA_ZA_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GIA_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_and_Outcome</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Failed GIA (ZA only)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_record_exists</name>
        <label>Contact record exists?</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_from_application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Con</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_in_application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_contact_0</name>
        <label>Existing contact</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_for_Candi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candi_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_with_Contact_created_above_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>UK only: Automated &apos;Thank you&apos; email removed. Job application form will redirect applicants towards &apos;Book your own screening call&apos; calendly link instead. (Replicating AUS)</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckifNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ContactRecruitmentAccount</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Business_Unit__c})=&quot;Elevate Australia&quot;, &quot;0015i000004RbPcAAK&quot;, 
IF(TEXT({!$Record.Business_Unit__c})=&quot;Elevate UK&quot;, &quot;001I8000002X2omIAC&quot;, 
&quot;001I8000002qcvSIAQ&quot;))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>When Job application is updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APPLICATION AutoLaunch CreatedAndUpdated RunAfter MAIN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>For No Call Applications, A Lead is created for the candidate in Salesforce (and linked to the Application)</description>
        <name>Create_Contact_for_Candi</name>
        <label>Create Contact for Candidate</label>
        <locationX>2558</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Application_with_Contact_created_above_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactRecruitmentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Candidate__r.Candidate_first_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Candidate__r.Candidate_last_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_List__c</field>
            <value>
                <stringValue>Recruitment Liaison</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_from_application</name>
        <label>Create Contact from application</label>
        <locationX>4406</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_application_with_above_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactRecruitmentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Candidate__r.Candidate_first_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Candidate__r.Candidate_last_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_List__c</field>
            <value>
                <stringValue>Recruitment Liaison</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Candi_Contact</name>
        <label>Candidate Contact</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get contact records that match candidate email</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_application_with_above_contact</name>
        <label>Update application with above contact</label>
        <locationX>4406</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Candidate_Contact__c</field>
            <value>
                <elementReference>Create_Contact_from_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_with_Contact_created_above_0</name>
        <label>Update Application with Contact created above</label>
        <locationX>2558</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_Business_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate_Contact__c</field>
            <value>
                <elementReference>Candi_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_with_Contact_created_above_0_0</name>
        <label>Update Application with Contact created above</label>
        <locationX>2294</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Business_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate_Contact__c</field>
            <value>
                <elementReference>Candi_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_date_on_Application</name>
        <label>Update Closed date on Application</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Application_closed_date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_in_application</name>
        <label>Update contact in application</label>
        <locationX>4142</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Candidate_Contact__c</field>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Penultimate_Status</name>
        <label>Update Penultimate Status</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Closed_date_on_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Penultimate_Stage__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If candidate fails GIA after final Interview, application is moved to &apos;Not Hired&apos; and Outcome &apos;Unsuccessful&apos;</description>
        <name>Update_Status_and_Outcome</name>
        <label>Update Status and Outcome</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Hired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Application_created_or_updated</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ThankYouEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Candidate__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for applying for the position of {!$Record.Position__r.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are currently reviewing applications and will be reaching out to you either via phone or email with the outcome, and to advise on next steps if you have been successful.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can expect to hear back from us in the next few days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks again {!$Record.Candidate__r.Name}, speak soon!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Warm regards,&lt;/p&gt;&lt;p&gt;Annika Clayton&lt;/p&gt;&lt;p&gt;Head of Recruitment - Elevate Education&lt;/p&gt;</text>
    </textTemplates>
</Flow>
