force-app/main/default/flows/When_a_candidate_is_Hired.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <actionName>UserCreationPlugin</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UserCreationPlugin</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_User_exists_already</name>
        <label>Check if User exists already</label>
        <locationX>1700</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Create_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource</name>
        <label>Check if Resource exists already</label>
        <locationX>1502</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SBU</name>
        <label>Check SBU</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate Australia Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_AUS</targetReference>
            </connector>
            <label>AUS</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_UK</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record_US</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>ZA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elevate South Africa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record_ZA</targetReference>
            </connector>
            <label>ZA</label>
        </rules>
    </decisions>
    <description>Flow modified to accommodate &apos;Elevate AUS Coaching&apos; BU;
Modified to include ZA</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>When a candidate is Hired {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APPLICATION AutoLaunch RunAfter CreatedAndUpdated HIRED</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resource</name>
        <label>Get Resource</label>
        <locationX>1502</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sked__Resource__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Does the candidate already have user record?</description>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>1700</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_User_exists_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact_AUS</name>
        <label>Update Contact Record</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0016F00002IUyhmQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_List__c</field>
            <value>
                <stringValue>Elevate Staff (Casual)</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_UK</name>
        <label>Update Contact Record</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001I8000002csQdIAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_List__c</field>
            <value>
                <stringValue>Elevate Staff (Casual)</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_US</name>
        <label>Update Contact Record</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001I8000002qeBTIAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_List__c</field>
            <value>
                <stringValue>Elevate Staff (Casual)</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_ZA</name>
        <label>Update Contact Record</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001I8000003EF7fIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type_I_Am__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_List__c</field>
            <value>
                <stringValue>Elevate Staff (Casual)</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Resource position with latest application details and void training fields</description>
        <name>Update_Resource</name>
        <label>Update Resource</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Position__c</field>
            <value>
                <elementReference>$Record.Position__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Completed__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Outcome__c</field>
            <value>
                <stringValue>Not populated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Stage__c</field>
            <value>
                <stringValue>Not trained</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Status__c</field>
            <value>
                <stringValue>Not yet known</stringValue>
            </value>
        </inputAssignments>
        <object>sked__Resource__c</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SBU</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Create_User_after_Application_is_updated</name>
            <connector>
                <targetReference>Get_Users</targetReference>
            </connector>
            <label>Create User after Application is updated</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
